# LaTeX intermediate and output files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.glo
*.gls
*.glg
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glsdefs
*.xdy
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.run.xml
*.bcf
*.pdfsync
*.thm
*.dvi
*.ps
*.eps
*.pdf
*.xmpdata
*.xmpi

# MacOS Finder files
.DS_Store

# VSCode/Editor folders
.vscode/
*.swp
*~

# Other
pdfa.xmpi
